/* Color Palette */
:root {
    --sage: #A1B5AB;
    --sand: #CBB093;
    --gold: #DFA477;
    --brown: #A4624D;
    --cream: #F5DFC5;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 450px;
}

.form-box {
    background: white;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    border-top: 8px solid var(--brown);
}

h2 {
    margin: 0;
    color: var(--brown);
    font-weight: 700;
    text-align: center;
}

.subtitle {
    text-align: center;
    color: #555;
    margin-bottom: 25px;
    font-size: 14px;
}

.input-group {
    margin-bottom: 18px;
}

label {
    font-size: 14px;
    color: var(--brown);
    font-weight: 600;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border: 1px solid var(--sand);
    border-radius: 6px;
    background: var(--sage);
    color: #333;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: var(--gold);
    background: #ffffff;
    transition: 0.3s;
}

.btn {
    width: 100%;
    padding: 14px;
    background: var(--brown);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.btn:hover {
    background: var(--gold);
}
